@using Parcker.Models.Enums;
@model Parcker.Models.PrinterPRModel

@if (Model == null)
{
    <text>
        <p class="lead pt-3 text-center">Não foi possível gerar o relatório.</p>
    </text>
}
else
{
    <text>
        <table class="table">
            <thead>
                <tr>
                    <th width="30"></th>
                    <th width="80">Pagamento</th>
                    <th width="80">Vencimento</th>
                    <th width="170">Classificação</th>
                    <th width="200">Cobrador/Pagante</th>
                    <th width="150">Forma Pagamento</th>
                    <th>Descrição</th>
                    <th width="100" class="text-right">Valor</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var item in Model.PagarReceber)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.DataPagamento.Value.ToString("dd/MM/yyyy")</td>
                            <td>@(item.DataVencimento.HasValue ? item.DataVencimento.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td>@item.Classificacao.Descricao</td>
                            <td>@(string.IsNullOrEmpty(item.Pessoa?.Nome ?? "") ? item.Pessoa?.RazaoSocial ?? "" : item.Pessoa?.Nome ?? "")</td>
                            <td>@item.FormasPagamento.Descricao</td>
                            <td>@item.Descricao</td>
                            <td class="text-right @(item.IdTipoConta == (int)TipoContaEnum.Pagar ? "text-danger" : "text-success")">@(item.IdTipoConta == (int)TipoContaEnum.Pagar ? "-" : "") R$ @item.Valor.ToString("N2")</td>
                        </tr>

                        index++;
                    }
                }
            </tbody>
        </table>

        @{
            var totalDespesas = Model.PagarReceber.Where(x => x.IdTipoConta == (int)TipoContaEnum.Pagar).Sum(x => x.Valor);
            var totalReceitas = Model.PagarReceber.Where(x => x.IdTipoConta == (int)TipoContaEnum.Receber).Sum(x => x.Valor);
            var saldo = totalReceitas - totalDespesas;
        }

        <table class="table table-borderless" style="margin-top:20px;">
            <tr>
                <td width="250" class="text-right">
                    <p>Total Despesas</p>
                    <p class="lead">R$ @totalDespesas.ToString("N2")</p>
                </td>
                <td width="250" class="text-right">
                    <p>Total Receitas</p>
                    <p class="lead">R$ @totalReceitas.ToString("N2")</p>
                </td>
                <td width="250" class="text-right">
                    <p>Saldo Geral</p>
                    @if (saldo < 0)
                    {
                        <p class="lead text-danger">R$ @saldo.ToString("N2")</p>
                    }
                    else
                    {
                        <p class="lead text-success">R$ @saldo.ToString("N2")</p>
                    }
                </td>
            </tr>
        </table>
    </text>
}