@model Parcker.Models.CupomDescontoModel

@{
    ViewBag.Title = "Cupom de Desconto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cupons de Desconto</h1>
    <p id="page-title" class="mb-4">
        @if (Model != null & Model.Id != 0)
        {
            <text>
                Editando registro n° @Model.Id
            </text>
        }
        else
        {
            <text>
                Inserindo novo registro
            </text>
        }
    </p>

    <div class="card shadow mb-4">
        <div class="card-body">
            @using (Ajax.BeginForm(new AjaxOptions()
            {
                HttpMethod = "POST",
                AllowCache = false,
                LoadingElementId = "preloader-geral",
                LoadingElementDuration = 1000,
                OnBegin = "formBegin",
                OnComplete = "formComplete",
                OnSuccess = "formSuccess",
                OnFailure = "formFailure"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DataCriacao)

                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-9">
                        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.DataValidade, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DataValidade, new { htmlAttributes = new { @class = "form-control date" } })
                        @Html.ValidationMessageFor(model => model.DataValidade, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.ValorDesconto, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ValorDesconto, new { htmlAttributes = new { @class = "form-control decimal text-right" } })
                        @Html.ValidationMessageFor(model => model.ValorDesconto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-2 mt-4 pt-2">
                        <div class="custom-control custom-checkbox btn btn-link">
                            @Html.CheckBoxFor(model => model.Ativo, new { @class = "custom-control-input" })
                            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "custom-control-label" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group text-right">
                    @Html.ActionLink("Retornar para a lista", "Index", null, new { @class = "btn btn-link" })
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Salvar Alterações</button>
                </div>
            }
        </div>
    </div>
</div>
